

<div class="col-2 d-none d-md-block"></div>
<div class="col-12 col-lg-8 col-md-8 description">
    <p>
    Приветствуем Вас на электронной площадке онлайн обучения МАИ.<br />
    <br />
    Что нужно сделать:<br />
    1. Заполнить все поля профиля слушателя;<br />
    2. Приступить к обучению.<br />
    <br />
    После зачисления у Вас автоматически откроется выбранный курс.<br />
    <br />
    Как проходит обучение:<br />
    1. Видео-лекции и дополнительные материалы, доступны в любое удобное для Вас время;<br />
    2. После прохождения учебного материала для вас будет доступно тестирование;<br />
    3. Результаты вашего тестирования вы сможете посмотреть во вкладке "Результаты тестирования".
    
    </p>
</div>

<div class="col-12"><br /><br /></div>

<div class="col-2 d-none d-md-block"></div>
<div class="col-12 col-lg-8 col-md-8 row menu">
    <div class="col-12 col-lg-2 col-md-2 col-sm-6 outblock">
        <a href="/">
            <button type="button" class="btn {% if active_tab and active_tab == 'profile' %} active {% endif %}">Профиль</button>
        </a>
    </div>
    
    <div class="col-12 col-lg-3 col-md-3 col-sm-6 outblock">
        <a href="/courses">
            <button type="button" class="btn {% if active_tab and active_tab == 'courses' %} active {% endif %}">Каталог курсов</button>
        </a>
    </div>
    
    <!--
    <div class="col-12 col-lg-4 col-md-4 col-sm-6 outblock">
        <button type="button" class="btn {% if active_tab and active_tab == 'test_results' %} active {% endif %}">Результаты тестирования</button>
    </div>
    -->
</div>